.service {
  display: flex;
  align-items: center;
  padding-top: 200px;
  padding-left: 30px;
  padding-bottom: 100px;
  justify-content: space-around;
}
.content p {
  padding-bottom: 20px;
  font-size: 16px;
  text-transform: capitalize;
  color: #0e9ebc;
}
.content h2 {
  font-size: 45px;
  line-height: 50px;
  color: #fff;
  font-weight: 400;
  padding-bottom: 60px;
}
.serviceBtn {
  color: #fff;
  font-weight: 400px;
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: 0.4s;
  
}
.serviceBtn span{
    display: inline-block;
    padding-left: 8px;
}
.serviceBtn:hover{
    color: #0e9ebc;
}
.imageBox {
  display: flex;
}
.images {
  width: 150px;
  height: 149px;
  margin-right: 30px;
  border-radius: 15px;
  transition: 0.4s;
  background: transparent;
}
.images:hover {
  /* box-shadow: 2px 2px 70px rgba(255, 68, 0, 0.544); */
  transition: 0.8s;
  transform: scale(1.23);
}

.images img {
  border-radius: 15px;
  background-color: #000000c5;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.imageOne {
  position: relative;
  bottom: -70px;
}
.imageTwo {
  position: relative;
  bottom: 70px;
}
.imageThree {
  position: relative;
  bottom: -70px;
}
.imageFour {
  position: relative;
  bottom: 70px;
}

@media(max-width:1248px){
  .service{
    flex-direction: column;
  }
  .imageBox{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 30px;
    /* padding: 0px 50px; */
    padding-top: 30px;
    flex-wrap: wrap;
  }
  .images  {
    width: 230px;
    height: 240px;
  }
  .imageOne , .imageTwo , .imageThree , .imageFour{
    position: relative;
    padding-top: 20px;
    bottom: 0px;
  }
  .content p{
    text-align: center;
  }
  .content h2{
    text-align: center;
  }
  .content h3{
    text-align: center;
    margin-left: 70px;
  }
  .content{
    padding-bottom: 40px;
  }
}
@media(max-width:600px){
  .images{
    width: 340px;
    height: 350px;
  }
  .content h2{
    font-size: 30px;
  }
}


@media (max-width: 360px) {
    .images {
        width: 290px;
        height: 300px;
    }
    .service{
      padding-top: 100px;
    }
}