.award{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 180px 50px 70px ;
    /* border: 1px solid black; */
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: #292929;
    z-index: 2;
}

.arardContent{
    color: aliceblue;
}
.awardContent p{
    color: orangered;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
}
.awardContent h2{
    color: #fefefe;
    font-size: 55px;
    font-weight: 600;
    line-height: 55px;
    padding-bottom: 30px;
}
.boxContent{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
}
.award-year{
    color: white;
    margin-right:70px ;
    margin-bottom: 40px;
}
.award-year h3{
    color: orangered;
    font-size: 26px;
    padding-bottom: 10px;
}
.award-year h2{
    color: #fff;
    padding-bottom: 5px;
    font-size: 20px;
}
.award-year p{
    /* padding-bottom: 10px; */
    color: #a3a3a3;
    font-size: 18px;
}

.sidebox{
    width: 300px;
    height: 300px;
    background-color: rgb(14, 13, 13);
    position: absolute;
    right: -190px;
    transform: rotate(45deg);
    z-index: 1;
}

@media (max-width:775px){
    .award{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0px 50px 70px;
    }
    .sidebox{
        display: none;
    }
    .boxContent{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto;
    }
}



