.home {
  width: 100%;
  background-image: url(/public/new\ background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding-bottom: 200px;
  position: relative;
  z-index: -1;
}

.triangleHome1 {
  width: 10px;
  height: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgb(196, 52, 0); /* Change color as needed */
  rotate: 135deg;
  position: absolute;
  bottom: 40px;
  left: 500px;
}
.triangleHome2 {
  width: 10px;
  height: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgb(196, 52, 0); /* Change color as needed */
  rotate: 50deg;
  position: absolute;
  top: 220px;
  z-index: 1;
  left: 130px;
}
.triangleHome3 {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgb(196, 52, 0); /* Change color as needed */
  rotate: 80deg;
  position: absolute;
  right: 200px;
  top: 110px;
  z-index: 0;
}
@keyframes moveLeftToRight {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(35px); /* Move 20 pixels to the right */
  }
}
.move-left-to-right {
  display: inline-block;
  animation: moveLeftToRight 4s ease-in-out infinite alternate;
}

.home .upper {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding: 90px 0px;
  background: transparent;
}
.home .upper h2 {
  font-size: 100px;
  /* padding-top:10px ; */
  margin-left: 100px;
  text-transform: capitalize;
  font-weight: 700;
  z-index: 2;
}
.home .upper .social-side {
  transform: rotate(-90deg);
  position: absolute;
  top: 300px;
  right: -60px;
  text-transform: capitalize;
  font-size: 15px;
  color: #c9c9c9;
}

.home .lowerContent {
  padding-bottom: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
  flex-wrap: wrap-reverse;
  padding: 20px 0px 100px 100px;
  gap: 30px;
}
.home .lowerContent h3 a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-left: 120px;
  font-weight: 400;
  transition: 0.4s;
}
.home .lowerContent h3 span {
  font-size: 20px;
  padding-top: 5px;
  padding-left: 6px;
  /* transition: 0.4s; */
}
.home .lowerContent h3:hover {
  color: orangered;
  /* transition: 0.4s; */
  cursor: pointer;
}
.home .lowerContent p {
  font-size: 18px;
  color: #e2e2e2;
  margin-right: 160px;
  letter-spacing: 1px;
  line-height: 24px;
}

.home .box {
  width: 20px;
  height: 33px;
  border: 2px solid #fff;
  border-radius: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .box .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
@keyframes dot {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px); /* Move 20 pixels to the right */
  }
}
.dot {
  display: inline-block;
  animation: dot 2s ease-in-out infinite alternate;
}

@media (max-width: 1123px){
  .home .upper h2{
    font-size: 50px;
  }
  .home .lowerContent{
    gap: 50px;
  }
  .home .lowerContent h3 a{
    float: left;
  }
}