.outer{
  position: relative;

}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 16px 80px;
  /* background-image: url(/public/new\ background.jpeg); */
  background-color: black;
  /* position: fixed; */
  z-index: 3;
}
nav .logo h2 {
  color: #ffff;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 30px;
  font-weight: 900;
}
nav .logo h2 span {
  color: #0e9ebc;
  font-family: cursive;
  font-size: 30px;
}
nav .logo p {
  padding-left: 100px;
  font-size: 13px;
  color: #b1dde6;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.4s;
  color: white;
  padding: 20px 0px;
}
nav ul li a:hover {
  color: #0e9ebc;
  transition: 0.4s;
  cursor: pointer;
}

.active {
  color: #0e9ebc;
}
.icon {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 22px;
  color: white;
  transition: 0.4s;
  display: none;
}
.bar{
  display: block;
  /* transition: all ease 0.4s; */
}
.close{
  display: none;
  /* transition: all ease 0.4s; */
}

.icon:hover {
  color: orangered;
  border: 2px solid orangered;
  cursor: pointer;
  transition: 0.4s;
}

/* ----------popups---- */
.popHome {
  position: absolute;
  background-color: #181818;
  color: #fff;
  border-radius: 4px;
  border-top: 4px solid #0e9ebc;
  left: 480px;
  top: 70px;
  transition: 0.5s;
  z-index: 10;
}
.popHome ul {
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.popHome ul li {
  list-style: none;
  padding: 12px 12px;
}
.popHome ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  transition: 0.4s;
  display: flex;
  align-items: center;
}
.popHome ul li a:hover {
  color: #0e9ebc;
  transition: 0.4s;
  cursor: pointer;
}
/* ------services */
 .popService {
  z-index: 10;
  position: absolute;
  background-color: #181818;
  color: #fff;
  border-radius: 4px;
  border-top: 4px solid #0e9ebc;
  left: 720px;
  top: 70px;
  transition: 0.5s;
}
.popService ul {
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.popService ul li {
  list-style: none;
  padding: 12px 12px;
}
.popService ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  transition: 0.4s;
  display: flex;
  align-items: center;
}
.popService ul li a:hover {
  color: #0e9ebc;
  transition: 0.4s;
  cursor: pointer;
}
/* ------portfolio */
 .popPortfolio {
  z-index: 10;
  position: absolute;
  background-color: #181818;
  color: #fff;
  border-radius: 4px;
  border-top: 4px solid #0e9ebc;
  right:250px;
  top: 70px;
  transition: 0.5s;
}
.popPortfolio ul {
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.popPortfolio ul li {
  list-style: none;
  padding: 12px 12px;
}
.popPortfolio ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  transition: 0.4s;
  display: flex;
  align-items: center;
}
.popPortfolio ul li a:hover {
  color: #0e9ebc;
  transition: 0.4s;
  cursor: pointer;
}
/* ------blog */
 .popBlog {
  position: absolute;
  background-color: #181818;
  color: #fff;
  z-index: 10;
  border-radius: 4px;
  border-top: 4px solid #0e9ebc;
  right:180px;
  top: 70px;
  transition: 0.5s;
}
.popBlog ul {
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.popBlog ul li {
  list-style: none;
  padding: 12px 12px;
}
.popBlog ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  transition: 0.4s;
  display: flex;
  align-items: center;
}
.popBlog ul li a:hover {
  color: #0e9ebc;
  transition: 0.4s;
  cursor: pointer;
}
/* ------pages */
 .popPage {
  position: absolute;
  background-color: #181818;
  color: #fff;
  border-radius: 4px;
  border-top: 4px solid #0e9ebc;
  right:70px;
  z-index: 10;
  top: 70px;
  transition: 0.5s;
}
.popPage ul {
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.popPage ul li {
  list-style: none;
  padding: 12px 12px;
}
.popPage ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  transition: 0.4s;
  display: flex;
  align-items: center;
}
.popPage ul li a:hover {
  color: #0e9ebc;
  transition: 0.4s;
  cursor: pointer;
}



@media (max-width: 1123px) {
  nav ul{
    flex-direction: column;
    position: absolute;
    background-color: rgba(2, 2, 2, 0.911);
    width: 100%;
    top: 88px;
    left: 0px;
    transition: all ease 0.4s;
    display: none;
    padding-bottom: 20px;
  }
  nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
  }
  nav ul li a{
    padding: 20px 20px;
  }
  .icon{
    display: flex;
  }
  .popHome{
    position: absolute;
    top: 170px;
    left: 680px;
  }
}
@media (max-width: 540px){
  nav{
    padding: 16px 30px;
  }
  nav .logo h2{
    font-size: 25px;
  }
  nav .logo h2 span{
    font-size: 25px;
  }
  nav .logo p{
    font-size: 11px;
    padding-left: 90px;
  }
}