
.responsive-map{
    overflow: hidden;
    height: 0;
    padding-bottom: 30%;
    position: relative;
    /* padding-bottom: 30px; */
}
.responsive-map iframe{
    border: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}